<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/headers.ejs %>
  </head>
  <body>
    <header>
      <%- include ./partials/head.ejs %>
    </header>

    <div id="wrapper">

      <div id="stadiums-container" >
        <div id="new-stadium-form" class="hidden">
          <form class="" action="/stadiums/new" method="post">
            <div class="comment-header">
            <div class="">
             <span class="comment-header-label">STADIUM NAME</span>
              <input class="username-input stadium-input" type="text" name="stadium[stadium_name]" required>
            </div>
            <div class="">
             <span class="comment-header-label">ADDRESS</span>
              <input class="username-input stadium-input" type="text" name="stadium[stadium_address]" required>
            </div>
            <div class="">
             <span class="comment-header-label">WEBSITE</span>
              <input class="username-input stadium-input" type="url" name="stadium[stadium_website]" required>
            </div>
            <div class="">
             <span class="comment-header-label">IMAGE (url)</span>
              <input class="username-input stadium-input" type="url" name="stadium[stadium_image-url]" required>
            </div>
            <%# <div class="">
             <span class="comment-header-label">ROOF TYPE</span>
             <input class="radio-input" type="radio" name="stadium[indoor_outdoor_rr" value="outdoor" checked> OUTDOOR
             <input class="radio-input" type="radio" name="stadium[indoor_outdoor_rr" value="indoor"> INDOOR
             <input class="radio-input" type="radio" name="stadium[indoor_outdoor_rr" value="retractable roof"> RETRACTABLE ROOF
            </div>%>
          </div>
            <div class="">
              <textarea class="text-area" name="stadium[stadium_description]" rows="8" cols="80" required placeholder="DESCRIPTION"></textarea>
            </div>
            <div class="submit-button">
              <button type="submit" class="new-comment-button" name="button">ADD STADIUM</button>
            </div>
          </form>
          <div class="cancel-new-stadium">
            <button id="cancel-stadium" type="button" class="cancel-update" name="button"><em>Cancel</em></button>
          </div>

        </div>

        <% stadium.forEach((stadium) => {  %>
          <div class="stadium-thumb-container">
            <a class="stadium-link" href="/stadiums/<%= stadium.id %>">
            <div class="stadium-wrapper">
              <div class="stadium-image-thumb" style="background-image: url('<%= stadium.stadium_image_url %>')">
              </div>
              <div class="stadium-text-thumb">
              <h2><%= stadium.stadium_name %></h2>
              <p>
              Home to the</br>
              <%= stadium.team_name %></br>
              <img class="team-logo-home" src="<%= stadium.team_image_url %>" width="90px" />
              </p>
              </div>

            </div>
            </a>
          </div>
        <% }); %>
      </div>
      <footer>
        <a href="mailto:mark@markledbetterdesigns.com">© Mark Ledbetter</a>
      </footer>
  </body>
</html>
