<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/headers.ejs %>
  </head>
  <body>
    <div id="wrapper">

      <header>
        <nav>

        </nav>
        <div id="stadium-info-row">
          <div id="stadium-info" data-stadium-id="<%= stadium[0].stadium_id %>">
              <img src="<%= stadium[0].stadium_image_url %>" width="250px" class="stadium-image">
              <h1><%= stadium[0].stadium_name %></h1>
              <ul>
                <li><a href="<%= stadium[0].stadium_website %>" target="_blank">Stadium Website</a></li>
                <li><%= stadium[0].stadium_address %></li>
                <li><%= stadium[0].stadium_description %></li>
              </ul>
          </div>
        </div>
      </header>
      <div id="comments-wrapper">
        <div id="comments-container" class="">
          <div id="new-comment-form" class="hidden">
            <form class="" action="/stadiums/<%= stadium[0].stadium_id %>" method="post">
              <div class="">
                Name
              </div>
              <div class="">
                <input type="text" name="comment[username]" required>
              </div>
              <div class="">
                Category
              </div>
              <div class="">
                <select id="select-category" class="" name="comment[category]">
                  <option name="comment[category]" value="general">General</option>
                  <option name="comment[category]" value="parking">Parking</option>
                  <option name="comment[category]" value="food">Food</option>
                  <option name="comment[category]" value="fan experience">Fan Experience</option>
                </select>
              </div>
              <%# <div class="">
              <input id="new-category" class="new-category" type="hidden" name="comment[category]" required>
            </div>%>
              <div class="">
                Comment
              </div>
              <div class="">
                <textarea name="comment[comment_text]" rows="8" cols="80" required></textarea>
              </div>
              <div class="">
                <input type="hidden" name="comment[stadium_id]" value="<%= stadium[0].stadium_id %>" >
              </div>
              <div class="">
                <input type="hidden" name="comment[likes]" value="0" >
              </div>
              <div class="">
                <button type="submit" name="button">Submit New Comment</button>
              </div>
            </form>

          </div>
          <% stadium.forEach((comment) => {  %>
          <article class="comment-container">
            <div class="comment-header">
              <div id="heart" class="likes">
                <img class="like-heart" src="/img/like-heart-baseball-bw.png" height="20px;" />
                <div class="likes-num"><%= comment.likes %></div>
              </div>
              <div id="trash" data-comment-id="<%= comment.id %>" class="likes">
              <form class="" action="delete_comment?_method=delete" method="post">
                <div >
                  <input type="hidden" name="comment[id]" value="<%= comment.id %>">
                </div>
                <div class="">
                  <button class="delete-button" type="submit" name="button" ><img class="trash-image" src="/img/trash-bw.png" height="20px;" /></button>
                </div>
              </form>


              </div>
              Author: <%= comment.username %></br>
              Date: <%= comment.date_created %>
            </div>
            <div class="comment-text">
              <p><%= comment.comment_text %></p>
            </div>

          </article>
          <% }); %>
        </div>
        <aside class="">

          <div class="">
            <button id="new-comment" class="button" type="button" >New Comment</button>

          </div>

        </aside>
      </div>

    </div>
  </body>
</html>
