<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/headers.ejs %>
  </head>
  <body>
    <div id="nav-bar-top" class="">
      <nav>
        <%- include ./partials/head.ejs %>
      </nav>
    </div>
    <div id="wrapper">

      <header>
        <div id="stadium-info-row" class="clearfix">
          <div id="stadium-info" data-stadium-id="<%= stadium[0].stadium_id %>">
              <img src="<%= stadium[0].stadium_image_url %>" width="300px" class="stadium-image">
              <h1><%= stadium[0].stadium_name %></h1>
              <ul>
                <li><a href="<%= stadium[0].stadium_website %>" target="_blank">Stadium Website</a></li>
                <li><%= stadium[0].stadium_address %></li>
                <li><%= stadium[0].stadium_description %></li>
              </ul>
          </div>
        </div>
      </header>
      <div id="comments-wrapper">
        <div id="comments-container" class="">
          <div id="new-comment-form" class="hidden">
            <form class="" action="/stadiums/<%= stadium[0].stadium_id %>/comments" method="post">
              <div class="comment-header">

              <div class="">
               <span class="comment-header-label">NAME</span>
                <input class="username-input" type="text" name="comment[username]" required>
              </div>
              <div class="">
                <span class="comment-header-label">CATEGORY</span>
                <select id="select-category" class="select-category" name="comment[category]">
                  <option name="comment[category]" value="General">General</option>
                  <option name="comment[category]" value="Parking">Parking</option>
                  <option name="comment[category]" value="Food">Food</option>
                  <option name="comment[category]" value="Fan Experience">Fan Experience</option>
                </select>
              </div>
            </div>
              <%# <div class="">
              <input id="new-category" class="new-category" type="hidden" name="comment[category]" required>
            </div>%>
              <div class="">
                <textarea class="text-area" name="comment[comment_text]" rows="8" cols="80" required placeholder="COMMENT"></textarea>
              </div>
              <div class="">
                <input type="hidden" name="comment[stadium_id]" value="<%= stadium[0].stadium_id %>" >
              </div>
              <div class="">
                <input type="hidden" name="comment[likes]" value="0" >
              </div>
              <div class="submit-button">
                <button type="submit" class="new-comment-button" name="button">Submit New Comment</button>
              </div>
            </form>

          </div>
          <% stadium.forEach((comment) => { %>
          <article class="comment-container">
            <div class="comment-header">
              <div class="likes heart" data-comment-id="<%= comment.id %>" >
                <img class="like-heart" data-comment-id="<%= comment.id %>" data-stadium-id="<%= stadium[0].stadium_id %>"  src="/img/like-heart-baseball-bw.png" height="26px;" />
                <div class="likes-num"><%= comment.likes %></div>
              </div>
              <div data-comment-id="<%= comment.id %>" data-stadium-id="<%= stadium[0].stadium_id %>" class="likes trash">
              <img class="trash-image" data-comment-id="<%= comment.id %>"  src="/img/trash-net-bw2.png" height="26px;" />


              </div>
              <div id="edit-comment" data-comment-id="<%= comment.id %>" class="likes">
              <img class="edit-image" data-stadium-id="<%= stadium[0].stadium_id %>"  data-comment-id="<%= comment.id %>"  src="/img/edit-pencil-bat-bw2.png" height="26px;" />


              </div>
              <span class="comment-header-label">AUTHOR:</span> <%= comment.username %></br>  <span class="comment-header-label">
              CATEGORY:</span> <%= comment.category %>
            </div>
            <div class="comment-text">


              <p><%- comment.comment_text %></p>
            </div>

          </article>
          <% }); %>
        </div>
        <aside class="">

          <div class="new-comment-puck">
            <a href="#">New </br>
              Comment</a>
          </div>
          <div class="sort-comments">
            <h3><a href="/stadiums/<%= stadium[0].stadium_id %>/likes"><em>Sort Comments By</em></br>
            <img src="/img/like-heart-baseball-color.png" width="50px"  /></a></h3>

          </div>

        </aside>
      </div>

    </div>
    <div id="modal" style="display:none">
      <section>
        <div class="modal-title">
          <h2>EDIT COMMENT</h2>
        </div>
        <div id="new-comment-form">
          <form id="update-comment" class="update-comment" action="/stadiums/<%= stadium[0].stadium_id %>/comments/:commentId/update" method="post">
            <div class="comment-header">
            <div class="">
             <span class="comment-header-label">NAME</span>
                <input id="update-username" class="update-username-input" type="text" name="comment[username]" required>
            </div>
            <div class="">
              <span class="comment-header-label">CATEGORY</span>
              <select id="update-select-category" class="select-category" name="comment[category]">
                <option name="comment[category]" value="General">General</option>
                <option name="comment[category]" value="Parking">Parking</option>
                <option name="comment[category]" value="Food">Food</option>
                <option name="comment[category]" value="Fan Experience">Fan Experience</option>
              </select>
            </div>
          </div>
          <div class="">
            <textarea id="update-text-area" class="update-text-area" name="comment[comment_text]" rows="8" cols="80" required placeholder="COMMENT"></textarea>
          </div>
          <div class="">
            <input class="comment-stadium-id" type="hidden" name="comment[stadium_id]" value="<%= stadium[0].stadium_id %>" >
          </div>
          <div class="">
            <input id="update-likes" class="update-likes" type="hidden" name="comment[likes]">
            <input type="hidden" class="update-comment-id" name="comment[id]">
          </div>
          <div class="submit-button">
            <button id="update-button" type="submit" class="new-comment-button" name="button">Update Comment</button>
          </div>
        </form>

      </div>
      <div class="cancel-modal">
        <button type="button" class="cancel-update" name="button"><em>Cancel</em></button>
      </div>
      </section>
    </div>
  </body>
</html>
